// Products

.product-item {
  position: relative;
  border-radius: 7px;
  padding: 30px;
  word-wrap: normal;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 20px #ccc;
  }

  &:hover .product__image {
    transform: scale(1.03);
  }
}

.product__image {
  transition: 0.3s ease;
  & img {
    display: block;
    height: 250px;
    width: 100%;
    color: #fff;
  }
}

.product__title {
  margin: 20px 0;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 1 auto;
}

.product__price {
  height: 100%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__sale-value {
  margin-bottom: 5px;
  color: #aaa;
  text-decoration: line-through;
}

.product__price-value {
  color: #555;
}

.product__price-value.highlight {
  color: #c11;
}

.product__add {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  background: #00ab78;
  cursor: pointer;
  transition: 0.3s ease;
  color: #333;

  & svg {
    color: #fff;
    font-size: 16px;
  }

  &:hover {
    background: lighten($color: #00ab78, $amount: 10%);
  }
}

.status__product,
.status__sale {
  position: absolute;
  top: 10px;
  padding: 5px;
  font-size: 14px;
  color: #fff;
  z-index: 2;
}

.status__product {
  background-color: #00ab90;
}

.status__sale {
  background-color: crimson;
}
