// CartItem

.cart-item {
  padding: 30px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.cart__left__block{
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart__image {
  display: block;
  width: 100px;
  height: 150px;
}

.cart__title {
  margin-bottom: 10px;
}

.cart__delete {
  cursor: pointer;
  & svg {
    color: #666;
    transition: 0.3s ease;
    font-size: 20px;

    &:hover {
      color: #00ab78;
    }
  }
}