// Footer

.footer {
  padding: 50px;
  background-color: #eee;
  width: 100%;
  flex: 0 0 auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;

  & > * {
    flex-grow: 1;
    flex-basis: 45%;
  }
}

.footer__logo {
  font-weight: 800;
  font-size: 50px;
  color: #00ab78;
  text-decoration: none;
}

.footer__right-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
