// CartItem

.cart-item {
  padding: 20px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.cart__left__block {
  display: flex;
  align-items: center;
  gap: 30px;
}

.product__price-value {
  margin-bottom: 8px;
}

.product_count-info {
  display: flex;
  align-items: center;
}

.product_count {
  margin: 0 10px;
  font-size: 15px;
}

.button_count {
  line-height: 0;
  padding: 5px;
  border: none;
  background-color: #00ab78;
  color: #fff;
}

.cart__image {
  display: block;
  width: 100px;
  height: 150px;
}

.cart__title {
  margin-bottom: 10px;
}

.cart__delete {
  cursor: pointer;
  & svg {
    color: #666;
    transition: 0.3s ease;
    font-size: 20px;

    &:hover {
      color: #00ab78;
    }
  }
}
